
/*
red: C20000
purple: 5F00C2
*/

html{
    margin: 0;
    padding: 0;
}

body{

    position: relative;
    color: white;
    /*margin: auto;*/
    /*width: 700px;*/
    background-color: #363543;
    font-size: 16px;
    font-family: Poppins, serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

nav{
    background-color: #2d2d39;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    padding: 15px 0 30px 15px;
    margin: 30px 0 50px 60%;
    position: relative;
}

aside{
    background-color: #2d2d39;
    width: 300px;
    /*height: 450px;*/
    border-radius: 20px;
    padding:50px 30px;
    top: 30px;
    left: 10%;

}

main{
    background-color: #2d2d39;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 10px 30px 50px 30px;
    margin: auto ;
    position: relative;
    /*left: 400px;*/


}

.info-box{
    background-color: #25252e;
    border-radius: 20px;
    padding: 20px 30px;
    margin-top: 20px;
    margin-left: 20px;

}

.exp-box{
    background-color: #25252e;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 50px
}

.grid-info{
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 10px 30px;
    margin-top: 15px;
}

.grid{

    display: grid;
    grid-template-columns: auto auto;
    width: 900px;
    margin: 50px auto;

}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 8px;
    padding-left: 2px;
}

.socialm{
    /*background-color: blueviolet;*/
    width: 200px;
    margin-top: 30px;
    margin-left: 40px;
}

.flex{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.second{
    width: 600px;
    padding-left: 20px;
}

.sticky {
    position: fixed;

}

.icon-back{
    background-color: #c2c2c2;
    border-radius: 5px;
}

.color-text {
    transition: color 0.3s ease;
    color: #FF352C;
}

.scroll-image {
    transition: opacity 0.3s ease;
}

.grid-skills{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    width: 400px;
    margin: auto;
}
/*------------------*/

@media only screen and (max-width: 1840px) {

    .item1 {

        padding-top: 8px;
        padding-left: 2px;
    }

    aside{
        display: grid;
        /*grid-template-columns: 100px auto;*/
        /*grid-template-rows: 10px 30px;*/
        background-color: #2d2d39;
        width: 700px;
        /*height: 450px;*/
        border-radius: 20px;
        padding: 10px 30px 20px 30px;
        position: relative;
        left: 0;
        margin: auto auto 50px;


    }

    .personal{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-info{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 10px 30px;
        margin-top: 15px;
        padding-right: 20px;

    }

    .info-box{
        background-color: #25252e;
        border-radius: 20px;
        padding: 20px 30px;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: center;


    }

    .sticky {
        position: relative;

    }

    .socialm{
        width: 200px;
        margin-top: 30px;
        margin-left: 40px;
    }

}