html{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: #363543;
    font-size: 20px;
    font-family: Poppins, serif;
    margin: 0;
}

h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.red{
    color: #E94057;
}

.purple{
    color: #7130bf;
}


.color-text {
    transition: color 0.3s ease;
    color: #e9b340;
}


/*-------------------------*/
.logo-nav{
    width: 40px;
    height: 40px;
    transition: filter 0.3s ease;
}

nav{
    background-color: #363543;
    width: 100%;
    height: 20px;
    padding: 50px 0 30px 0;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;

}

nav a img:hover, .socialm a img:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #e9b340);
    filter: drop-shadow(5px 5px 5px #e9b340);
}

.nav-name{
    font-size: 40px;
    margin-left: 50px
}


/*--------------------*/
#image{
    z-index: -1;
    opacity: 0.45;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#image-container{
    margin-top: 100px; ;
    z-index: -1;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#image-text{
    color: white;
    font-size: 50px;
    padding-top: 500px;
    padding-left: 400px;
    z-index: -1;
    position: absolute;
}

#image-name{
    font-size: 70px;
    color: #e9b340
}
/*-------------Footer----------------*/

.grid-info{
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 10px 30px;
}

.item {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 8px;
    padding-left: 2px;
}

.icon-box{
    background-color: #c2c2c2;
    border-radius: 5px;
}

.as-image{
    margin-bottom: 30px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
}

.grid-info div:nth-child(2)
{
    font-size: 10px;
    padding-left: 10px
}

.grid-info div:nth-child(3)
{
    padding-left: 10px;
    padding-top: 10px
}

.socialm a{
    margin-left: 50px
}


#plz{
    margin-top: 30px;
}

.socialm{
    display: flex;
    width: 400px;
    margin-top: 30px;
    margin-left: 25%;
}

.logo-social{
    width: 30px;
    height: 30px;
}

/*----------tippen-----------*/

.typewriter {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.cursor {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/*--------------MAIN------------------*/
main{
    background-color: #fff;
    padding: 10px 0 50px 0;
    margin: auto;
    width: 100%;
}


.container {
    position: relative;
    width: 900px;
    padding: 100px 0 0;
    margin: 0 auto 0;
}



/*.timeline-text{*/
/*    width: 600px;*/
/*    margin-bottom: 50px;*/
/*    margin-top: -5px;*/
/*}*/

.box{
    margin: 100px 0 50px 0;
}

.date{
    margin-top: -5px;
}

.logo{
    background-color: white;
    border-radius: 20px;
    width: 85px;
    height: 85px;
    opacity: 0;
    transform: translateY(100%);
}

.logo.visible{
    transform: translateY(0%);
}

.grid-skills{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    width: 400px;
    margin: auto;
    filter: drop-shadow(5px 5px 5px #363543);
}

.title{
    margin-top: -5px;
}


/*---------------TIMELINE---------------------*/
.timeline {
    display: grid;
    grid-template-columns: 130px 20px 1fr;
}
.timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
}

.timeline-middle-purple {
    position: relative;
    background-image: linear-gradient(45deg, #9d75cd, #7130bf, #6600ff);
    width: 3px;
    height: 100%;
}

.timeline-circle {
    position: absolute;
    top: 0;
    left: -190%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline-circle-purple {
    position: absolute;
    top: 0;
    left: -190%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #9d75cd, #7130bf, #6600ff);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*---------------Timeline ANIMATION-----------------------*/

.animatedText {
    position: relative;
    opacity: 0;
    transition: opacity 2s, transform 2s;

}

.animate{
    width: 700px;

}

.fromBottom{
    transform: translateY(800%);
    transform-origin: center;

}
.fromRight {
    transform: translateX(-50%);

}

.fromLeft {
    transform: translateX(50%);

}

.animatedText.visible {
    opacity: 1;
}

.fromBottom.visible{
    transform: translateY(0);
    transform-origin: center;

}

.fromRight.visible {
    transform: translateX(0);
}

.fromLeft.visible {
    transform: translateX(0);
}

/*---------SPRACHE--------------*/

.language {
    display: flex;
    align-items: center;
    margin: 20px;
}

.language p {
    flex: 1;
    margin: 0;
}

.bar-container {
    flex: 3;
    background-color: #adbfd4;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 100px;
}

.bar {
    width: 0;
    height: 10px;
    background-color: #447df8;
    border-radius: 5px;
    transition: width 2s;
}
/*-------------------*/

footer{
    background-color: #757584;
    height: 150px;
    padding: 20px 30px;
    color: white;

}

.info-box{
    margin: auto;
    width: 500px;
    display: flex;
    padding: 20px 30px;
}

/*-----------------*/

@media (max-width: 1576px){
    .animate{
        width: 500px;
    }
}
@media (max-width: 1444px){

    /*body{*/
    /*    font-size: 14px;*/
    /*}*/

    #image-text{
        padding-top: 500px;
        padding-left: 100px;

    }


}


@media (max-width: 981px) {
    .timeline{
        grid-template-columns: 250px 20px 1fr;
    }

    .date{
        text-align: center;
        font-size: 14px;
    }

    .fromBottom{
        transform: translateY(100%);
        transform-origin: center;

    }

    .title{
        font-size: 20px;

    }

    .width{
        font-size: 15px;
    }

    .size{
        font-size: 20px;
    }


    h1{
        margin-bottom: 40px;
    }

    .grid-info div:nth-child(2)
    {
        font-size: 20px;
    }

    .grid-info div:nth-child(3)
    {

        font-size: 30px;
    }
}