<!DOCTYPE html >
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/imgs/exp-white.png">
    <title>Jennifer Bramadas</title>
</head>
<body>
<nav class="scroll-image" id="nav" >
    <div class="color-text nav-name">
        <b>JB</b>
    </div>
    <div style="margin-right: 50px;">
        <a href="#scroll1">
            <img id="exp-img" src="../static/imgs/exp-white.png" alt="Erfahrung" class="logo-nav">
        </a>
        <a href="#scroll2" style="margin-left: 50px;">
            <img id="laptop-img" src="../static/imgs/laptop-white.png" alt="Projekte" class="logo-nav">
        </a>
        <a href="#scroll3" style="margin-left: 50px">
            <img id="person-img" src="../static/imgs/person-white.png" alt="Personal" class="logo-nav">
        </a>
    </div>
</nav>

<div id="image-container">
<!--    <img id="image" src="../static/imgs/laptop.jpg" alt="laptop">-->
    <div id="image-text">
        Hallo, Ich bin <br>
        <div id="image-name">
            <b>Jennifer Bramadas</b>
        </div>
        <div class="typewriter" id="typewriter">
            <span id="text"></span>
            <span class="cursor">|</span>
        </div>
    </div>
</div>

<main id="scroll1">
    <div class="container">
        <!--            Berufserfahrung-->
        <h1>Berufserfahrung</h1>
<!--        <div>-->
            <div class="timeline">
                <p class="date animatedText fromRight red">2021 – 2024</p>
                <div class="timeline-middle">
                    <div class=" timeline-circle animatedText fromBottom"></div>
                </div>
                <div>
                    <div class="animatedText animate fromBottom title" >
                        <b>B-FACTOR GMBH</b>
                    </div>
                    <ul>
                        <li class="animate width animatedText fromBottom">Ausbildung zur Fachinformatikerin für Anwendungsentwicklung</li>
                        <li class="animate width animatedText fromBottom">Aufbau tiefgreifender Kenntnisse und praktischer Erfahrung in der Webentwicklung</li>
                        <li class="animate width animatedText fromBottom">Anwendung verschiedener Technologien, darunter HTML, CSS, Javascript, PHP und TYPO3</li>
                    </ul>

                </div>
            </div>

            <!--            Schulbildung-->
            <div class="box">
                <h1>Ausbildung</h1>
                <div class="timeline">
                    <p class="date animatedText fromRight red">2021 – 2024</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">
                        <p class="animate animatedText fromBottom title">
                            <b> IT.SCHULE STUTTGART</b>
                        </p>
                        <ul>
                            <li class="animate width animatedText fromBottom">Ausbildung zur Fachinformatikerin für Anwendungsentwicklung</li>
                            <li class="animate width animatedText fromBottom">Erlernen von vielfältigen Kenntnissen in der Softwareentwicklung, Programmiersprachen (Java, Python, SQL) und Netzwerktechnologien</li>
                            <li class="animate width animatedText fromBottom">Grundlagen des Projektmanagements, Buchführung und Rechnungswesen</li>
                        </ul>
                    </div>
                    <p class="date animatedText fromRight red">2019 – 2021</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">

                        <p class="animate animatedText fromBottom title">
                            <b> HOCHSCHULE FÜR TECHNIK STUTTGART</b><br>
                        </p>
                        <ul>
                            <li class="animate width animatedText fromBottom">Bachelorstudium Informatik</li>
                            <li class="animate width animatedText fromBottom">Einführung in die Grundlagen der Informatik und Mathematik</li>
                        </ul>
                    </div>
                    <p class="date animatedText fromRight red">2016 - 2018</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">
                        <p class="animate animatedText fromBottom title">
                            <b> KÄUFMÄNNISCHES SCHULZENTRUM BÖBLINGEN</b>
                        </p>
                        <ul>
                            <li class="animate width animatedText fromBottom">Berufskolleg 1 & 2 Wirtschaftsinformatik (Fachabitur)</li>
                            <li class="animate width animatedText fromBottom">Einführung in die Grundlagen der Informatik</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <!--Experince end-->

    <!--tech stack start-->
    <div id="scroll2" class="container">
        <h1>Projekte</h1>
        <div class="timeline">

            <p class="date animatedText fromRight purple">2025</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple  animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">
                <p class="animate animatedText fromBottom title">

                    <b> ENTWICKLUNG EINER PROFESSIONELLEN PORTFOLIOWEBSEITE FÜR EINEN CONTENT CREATOR</b>
                </p>
                <ul>
                    <li class="animate width animatedText fromBottom">Konzeption, Design und Umsetzung einer ansprechenden Webpräsent für einen freiberuflichen Videoproduzenten</li>
                    <li class="animate width animatedText fromBottom">Enge Zusammenarbeit für optimale Umsetzung nach Kundenwünschen</li>
                    <li class="animate width animatedText fromBottom">Enge Zusammenarbeit für optimale Umsetzung nach Kundenwünschen</li>
                </ul>

            </div>

            <p class="date animatedText fromRight purple">2024</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple  animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">
                <p class="animate animatedText fromBottom title">

                    <b>PORTFOLIO WEBSEITE</b>
                </p>
                <ul>
                    <li class="animate width animatedText fromBottom">Design und Entwicklung einer Portfolio Webseite</li>
                    <li class="animate width animatedText fromBottom">Umsetzung mit HTML, CSS und JavaScript</li>
                </ul>

            </div>

            <p class="date animatedText fromRight purple">2024</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple  animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">
                <p class="animate animatedText fromBottom title">
                    <b>LANDING PAGE</b>
                </p>
                <ul>
                    <li class="animate width animatedText fromBottom">Umsetzung eines Rohentwurfs einer Landing Page für ein Start-Up</li>
                    <li class="animate width animatedText fromBottom">Enge Zusammenarbeit für optimale Umsetzung nach Kundenwünschen</li>
                    <li class="animate width animatedText fromBottom">Implementierung mit HTML, CSS und JavaScript</li>
                </ul>

            </div>

            <p class="date animatedText fromRight purple">2023</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content" style="margin-bottom: 50px;">
                <p class="animate animatedText fromBottom title">
                    <b> DISCORD REMINDER BOT</b>
                </p>
                <ul>
                    <li class="animate width animatedText fromBottom">Entwicklung eines Discord Bots zum automatischen Versenden von Erinnerungen</li>
                    <li class="animate width animatedText fromBottom">Umsetzung mit Python</li>
                </ul>

            </div>

            <p class="date animatedText fromRight purple" >2021</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content" style="margin-bottom: 50px">
                <p class="animate animatedText fromBottom title">
                    <b> BLOG WEBSEITE</b>
                </p>
                    <ul>
                        <li class="animate width animatedText fromBottom">Design und Umsetzung einer klassischen Blog-Website, die eine Anmelde- und Kommentarfunktionen beinhaltet</li>
                        <li class="animate width animatedText fromBottom">Entwicklung mit HTML, CSS, PHP und SQL</li>
                    </ul>

            </div>
        </div>
        <!--skills-->
        <div class="box">
            <h1>Fähigkeiten und Tech-Stack</h1>
            <div class="grid-skills">
                <img src="../static/imgs/html-5.png" alt="html" class="logo animatedText">
                <img src="../static/imgs/css.png" alt="css" class="logo animatedText">
                <img src="../static/imgs/js.png" alt="javascript" class="logo animatedText">
                <img src="../static/imgs/php.png" alt="php" class="logo animatedText">
                <img src="../static/imgs/java.png" alt="java" class="logo animatedText">
                <img src="../static/imgs/sql-server.png" alt="sql" class="logo animatedText">
                <img src="../static/imgs/typo.png" alt="typo3" class="logo animatedText">
            </div>
        </div>

        <div>
            <h1>Zertifikat</h1>
            <a href="https://coursera.org/share/f387507cbe8014f246436c90bf8e7fac">
                <b>Meta Front-End Developer by Meta on Coursera</b>
            </a>
            <p>bescheinigt umfassende Kenntnisse in HTML, CSS, JavaScript, React und UI/UX-Design sowie praktische Erfahrung mit modernen Webentwicklungstools und -techniken.</p>
        </div>

    </div>
    <!--            tech end-->

    <!--            Personal start -->
    <div id="scroll3" class="container">
        <!-- <h1 class="color-text title" >Personal-Info</h1> -->
        <h1>Meine Sprachen</h1>
        <div class="language">
            <p class="size">Deutsch</p>
            <div class="bar-container">
                <div class="bar" data-percent="85%"></div>
            </div>
        </div>
        <div class="language">
            <p class="size">Englisch</p>
            <div class="bar-container">
                <div class="bar" data-percent="70%"></div>
            </div>
        </div>
        <div class="language">
            <p class="size">Tamil</p>
            <div class="bar-container">
                <div class="bar" data-percent="60%"></div>
            </div>
        </div>

        <!--            Hobbys-->
        <div class="box" >
            <h1 >Freizeit und Hobbys</h1>
            <ul>
                <li class="fromBottom animatedText" style="margin-bottom: 20px">Lesen</li>
                <li class="fromBottom animatedText" style="margin-bottom: 20px">Serien schauen</li>
                <li class="fromBottom animatedText" style="margin-bottom: 20px">Videogames spielen</li>
            </ul>
        </div>
    </div>
    <!--personal end-->
</main>
<footer>
        <!--personal information-->
        <div class="info-box">
            <div>
                <div class="grid-info">
                    <div class="item icon-box">
                        <img class="as-image" src="../static/imgs/image1.png" alt="umschlag red">
                    </div>
                    <div >Email</div>
                    <div>
                        <a style="text-decoration: none; color: white;" href="mailto:j.bramadas@outlook.de">j.bramadas@outlook.de</a>
                    </div>
                </div>

                <div class="grid-info" id="plz">
                    <div class="item icon-box">
                        <img class="as-image" src="../static/imgs/image2.png" alt="mobile-white">
                    </div>
                    <div>Ort</div>
                    <div>Leonberg 71229</div>
                </div>
            </div>

            <!--personal information end-->


            <!--social icons start-->
            <div class="socialm">
                <a href="https://www.linkedin.com/in/jennifer-b-0a6566157/" >
                    <img src="../static/imgs/linkedin.png" alt="Linkedin" class="logo-social">
                </a>
            </div>
        </div>
        <!--social icons end-->
</footer>
<script src="../static/js/script.js"></script>
</body>
</html>