<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Jennifer Bramadas</title>
</head>
<body>
<nav class="scroll-image" >
    <div class="color-text nav-name">
        <b>JB</b>
    </div>
    <div  style="margin-right: 50px;">
        <a href="#scroll1" >
            <img src="../static/imgs/exp-white.png" alt="exp-white" class="logo-nav">
        </a>
        <a href="#scroll2" style="margin-left: 50px;">
            <img src="../static/imgs/laptop-white.png" alt="laptop-white" class="logo-nav">
        </a>
        <a href="#scroll3" style="margin-left: 50px">
            <img src="../static/imgs/person-white.png" alt="laptop-white" class="logo-nav">
        </a>
    </div>
</nav>

<div id="image-container">
    <img id="image" src="../static/imgs/laptop.jpg" alt="laptop">
    <div id="image-text">
        Hallo, Ich heiße <br>
        <div id="image-name">
            <b>Jennifer Bramadas. </b>
        </div>
        <div class="typewriter" id="typewriter">
            <span id="text"></span>
            <span class="cursor">|</span>
        </div>
    </div>
</div>

<main id="scroll1">
    <div class="container">
        <!--            Berufserfahrung-->
        <h1 class="color-text title">Erfahrung</h1>
        <h1>Berufserfahrung</h1>
        <div>
            <div class="timeline">
                <p class="date animatedText fromRight red">2021 – heute</p>
                <div class="timeline-middle">
                    <div class="timeline-circle animatedText fromBottom"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <p class="timeline-text animatedText fromLeft">
                        <b> It.Schule Stuttgart </b><br>
                        Ausbildung als Fachinformatikerin Anwendungsentwicklung
                    </p>
                </div>
            </div>

            <!--            Schulbildung-->
            <div class="box">
                <h1>Schulbildung</h1>
                <div class="timeline">
                    <p class="date animatedText fromRight red">2021 – heute</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">
                        <p class="timeline-text animatedText fromLeft">
                            <b> It.Schule Stuttgart</b><br>
                            Ausbildung als Fachinformatikerin Anwendungsentwicklung
                        </p>
                    </div>
                    <p class="date animatedText fromRight red">2019 – 2021</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">

                        <p class="timeline-text animatedText fromLeft">
                            <b> Hochschule für Technik Stuttgart</b><br>
                            Studienrichtung Informatik
                        </p>
                    </div>
                    <p class="date animatedText fromRight red">2016 - 2018</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">

                        <p class="timeline-text animatedText fromLeft">
                            <b> Kaufmännisches Schulzentrum Böblingen</b><br>
                            Berufskolleg 1 & 2 Wirtschaftsinformatik (Fachabitur)
                        </p>
                    </div>
                    <p class="date animatedText fromRight red" >2013 - 2015</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">
                        <p class="timeline-text animatedText fromLeft">
                            <b> Berufsschulzentrum Leonberg</b><br>
                            Berufliches Gymnasium
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Experince end-->

    <!--tech stack start-->
    <div id="scroll2" class="container">
        <h1 class="color-text title">Tech-Stack</h1>
        <h1>Projekte</h1>

        <div class="timeline" >
            <p class="date animatedText fromRight purple" style="margin-left: 60px;">2024</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple  animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <p class="timeline-text animatedText fromLeft" >
                    <b> CV Webseite</b><br><br>
                    Design und Entwicklung einer CV Webseite <br><br>
                    <b>Tools: </b> HTML, CSS, JavaScript
                </p>
            </div>

            <p class="date animatedText fromRight purple" style="margin-left: 60px;">2024</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple  animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <p class="timeline-text animatedText fromLeft">
                    <b> Start up Webseite</b><br><br>
                    Design und Entwicklung einer Start up Webseite <br><br>
                    <b>Tools: </b> HTML, CSS, JavaScript
                </p>
            </div>

            <p class="date animatedText fromRight purple" style="margin-left: 60px;">2023</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <p class="timeline-text animatedText fromLeft">
                    <b> DiscordReminderBot</b><br><br>
                    Entwicklung eines Programmes, welches den ausgewählten User nach einer bestimmten Zeit an was erinnert. <br><br>
                    <b>Tools: </b> Python
                </p>
            </div>

            <p class="date animatedText fromRight purple" style="margin-left: 60px;">2021</p>
            <div class="timeline-middle-purple">
                <div class="timeline-circle-purple animatedText fromBottom"></div>
            </div>
            <div class=" timeline-component timeline-content">
                <p class="timeline-text animatedText fromLeft">
                    <b> Blog Webseite</b><br><br>
                    Design und Entwicklung eine klassische Blog-Website mit PHP und SQL, die Anmelde- und Kommentarfunktionen beinhaltet. <br><br>
                    <b>Tools: </b> HTML, CSS, PHP, SQL
                </p>
            </div>
        </div>
        <!--skills-->
        <div class="box">
            <h1>Skills</h1>
            <div class="grid-skills">
                <img src="../static/imgs/php.png" alt="php" class="logo animatedText">
                <img src="../static/imgs/sql-server.png" alt="sql" class="logo animatedText">
                <img src="../static/imgs/html-5.png" alt="html" class="logo animatedText">
                <img src="../static/imgs/css.png" alt="css" class="logo animatedText">
                <img src="../static/imgs/java.png" alt="java" class="logo animatedText">
                <img src="../static/imgs/typo.png" alt="java" class="logo animatedText">
            </div>
        </div>

    </div>
    <!--            tech end-->

    <!--            Personal start -->
    <div id="scroll3" class="container">
        <h1 class="color-text title" >Personal-Info</h1>
        <h1>Sprache</h1>
        <div class="language">
            <p>Deutsch</p>
            <div class="bar-container">
                <div class="bar" data-percent="85%"></div>
            </div>
        </div>
        <div class="language">
            <p>Englisch</p>
            <div class="bar-container">
                <div class="bar" data-percent="70%"></div>
            </div>
        </div>
        <div class="language">
            <p>Tamil</p>
            <div class="bar-container">
                <div class="bar" data-percent="60%"></div>
            </div>
        </div>

        <!--            Hobbys-->
        <div class="box" >
            <h1 >Hobbys</h1>
            <p class="fromBottom animatedText">Lesen</p>
            <p class="fromBottom animatedText">Serien schauen</p>
            <p class="fromBottom animatedText">Videogames spielen  </p>
            <p class="fromBottom animatedText">Häckeln</p>
        </div>
    </div>
    <!--personal end-->
</main>
<footer>
        <!--personal information-->
        <div class="info-box">
            <div>
                <div class="grid-info">
                    <div class="item icon-box">
                        <img class="as-image" src="../static/imgs/image1.png" alt="umschlag red">
                    </div>
                    <div >Email</div>
                    <div>
                        <a style="text-decoration: none; color: white;" href="mailto:j.bramadas@outlook.de">j.bramadas@outlook.de</a>
                    </div>
                </div>

                <div class="grid-info" id="plz">
                    <div class="item icon-box">
                        <img class="as-image" src="../static/imgs/image2.png" alt="mobile-white">
                    </div>
                    <div>Ort</div>
                    <div>Leonberg 71229</div>
                </div>
            </div>

            <!--personal information end-->


            <!--social icons start-->
            <div class="socialm">
                <a href="https://www.linkedin.com/in/jennifer-b-0a6566157/" >
                    <img src="../static/imgs/linkedin.png" alt="Linkedin" class="logo-social">
                </a>
                <a href="https://github.com/JennyWary" >
                    <img src="../static/imgs/github.png" alt="GitHub" class="logo-social">
                </a>
            </div>
        </div>
        <!--social icons end-->
</footer>
<script src="../static/js/script.js"></script>
</body>
</html>