<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Jennifer Bramadas</title>
</head>
<body>
    <nav>
        <a href="#scroll1" >
            <img src="../static/imgs/exp-white.png" alt="exp-white" class="logo-nav">
        </a>
        <a href="#scroll2" style="margin-left: 50px;">
            <img src="../static/imgs/laptop-white.png" alt="laptop-white" class="logo-nav">
        </a>
        <a href="#scroll3" style="margin-left: 50px">
            <img src="../static/imgs/person-white.png" alt="laptop-white" class="logo-nav">
        </a>
    </nav>
    <aside class=" sticky">
        <h1 class="color-text" id="name">Jennifer Bramadas</h1>
        <div class="typewriter" id="typewriter">
            <span id="text"></span>
            <span class="cursor">|</span>
        </div>
        <!--social icons-->
        <div class="socialm">
            <a href="https://www.linkedin.com/in/jennifer-b-0a6566157/" style="margin-left: 50px">
                <img src="../static/imgs/linkedin.png" alt="Linkedin" class="logo-social">
            </a>
            <a href="https://github.com/JennyWary" style="margin-left: 50px">
                <img src="../static/imgs/github.png" alt="GitHub" class="logo-social">
            </a>
        </div>
        <!--social icons-->

        <!--personal information-->
        <div class="info-box personal">
            <div class="grid-info">
                <div class="item1 icon-back">
                    <img class="scroll-image" style="margin-bottom: 30px; margin-left: 2px" src="../static/imgs/image1.png" alt="umschlag red" width="20" height="20">
                </div>
                <div style="font-size: 10px; padding-left: 10px" >Email</div>
                <div style="padding-left: 10px; padding-top: 10px">
                    <a style="text-decoration: none; color: white;" href="mailto:j.bramadas@outlook.de">j.bramadas@outlook.de</a>
                </div>
            </div>

            <div class="grid-info" id="plz">
                <div class="item1 icon-back">
                    <img class="scroll-image" style="margin-bottom: 30px; margin-left: 2px" src="../static/imgs/image2.png" alt="mobile-white" width="20" height="20">
                </div>
                <div style="font-size: 10px; padding-left: 10px" >Ort</div>
                <div style="padding-left: 10px; padding-top: 10px">Leonberg 71229</div>
            </div>
        </div>
        <!--personal information end-->
    </aside>

<!--Experince start-->
    <main>

        <div id="scroll1" data-scroll-index='0' class="exp-box container">
<!--            Berufserfahrung-->
            <h1 class="color-text" style="text-align: center; font-size: 40px;">Erfahrung</h1>
            <h1 class="purple">Berufserfahrung</h1>

            <div class="timeline">
                <p class="date animatedText fromRight">2021 – heute</p>
                <div class="timeline-middle">
                    <div class="timeline-circle animatedText fromBottom"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <p class="second animatedText fromLeft" style="width: 500px;">
                        <b> It.Schule Stuttgart </b><br>
                        Ausbildung als Fachinformatikerin Anwendungsentwicklung
                    </p>
                </div>
            </div>

<!--            Schulbildung-->
            <div style="margin-top: 100px; margin-bottom: 50px;">
                <h1 class="purple">Schulbildung</h1>
                <div class="timeline">
                    <p class="date animatedText fromRight">2021 – heute</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">
                        <p class="second animatedText fromLeft" style="width: 500px;">
                            <b> It.Schule Stuttgart</b><br>
                            Ausbildung als Fachinformatikerin Anwendungsentwicklung
                        </p>
                    </div>
                    <p class="date animatedText fromRight">2019 – 2021</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">

                        <p class="second animatedText fromLeft" style="width: 500px;">
                            <b> Hochschule für Technik Stuttgart</b><br>
                            Studienrichtung Informatik
                        </p>
                    </div>
                    <p class="date animatedText fromRight">2016 - 2018</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">

                        <p class="second animatedText fromLeft" style="width: 500px;">
                            <b> Kaufmännisches Schulzentrum Böblingen</b><br>
                            Berufskolleg 1 & 2 Wirtschaftsinformatik (Fachabitur)
                        </p>
                    </div>
                    <p class="date animatedText fromRight" >2013 - 2015</p>
                    <div class="timeline-middle">
                        <div class="timeline-circle animatedText fromBottom"></div>
                    </div>
                    <div class=" timeline-component timeline-content">
                        <p class="second animatedText fromLeft" style="width: 500px;">
                            <b> Berufsschulzentrum Leonberg</b><br>
                            Berufliches Gymnasium
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Experince end-->

        <!--tech stack start-->
        <div id="scroll2" class="exp-box container">
            <h1 class="color-text" style="text-align: center; font-size: 40px;">Tech-Stack</h1>
            <h1>Projekte</h1>
            <div class="timeline">

                <p class="date animatedText fromRight" style="color: #7130bf; margin-left: 60px;">2024</p>
                <div class="timeline-middle-purple">
                    <div class="timeline-circle-purple  animatedText fromBottom"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <p class="second animatedText fromLeft" style="width: 500px;">
                        <b> Portfolio Webseite</b><br><br>
                        Zur Darstellung meiner Fähigkeit habe ich eine Portfolio Webseite gemacht. <br>
                        <b>Tools: </b> HTML, CSS, JavaScript
                    </p>
                </div>

                <p class="date animatedText fromRight" style="color: #7130bf; margin-left: 60px;">2024</p>
                <div class="timeline-middle-purple">
                    <div class="timeline-circle-purple  animatedText fromBottom"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <p class="second animatedText fromLeft" style="width: 500px;">
                        <b> Start up Webseite</b><br><br>
                        Für einen Freund habe ich eine Webseite für seinen Start-up erstellt. <br>
                        <b>Tools: </b> HTML, CSS, JavaScript
                    </p>
                </div>

                <p class="date animatedText fromRight" style="color: #7130bf; margin-left: 60px;">2023</p>
                <div class="timeline-middle-purple">
                    <div class="timeline-circle-purple animatedText fromBottom"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <p class="second animatedText fromLeft" style="width: 500px;">
                        <b> DiscordReminderBot</b><br><br>
                        Ein Projekt, wo ich die ersten Kontaktpunkte mit Python hatte und es als Übung genommen habe. <br>
                        <b>Tools: </b> Python
                    </p>
                </div>

                <p class="date animatedText fromRight" style="color: #7130bf; margin-left: 60px;">2021</p>
                <div class="timeline-middle-purple">
                    <div class="timeline-circle-purple animatedText fromBottom"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <p class="second animatedText fromLeft" style="width: 500px;">
                        <b> Blog Webseite</b><br><br>
                        Eine klassische Blog-Website mit PHP und SQL, die Anmelde- und Kommentarfunktionen beinhaltet. <br>
                        <b>Tools: </b> HTML, CSS, PHP, SQL
                    </p>
                </div>
            </div>
<!--skills-->
            <div style="margin-top: 100px; margin-bottom: 50px;">
                <h1>Skills</h1>
                <div class="grid-skills">
                    <img src="../static/imgs/php.png" alt="php" class="logo">
                    <img  src="../static/imgs/sql-server.png" alt="sql" class="logo">
                    <img src="../static/imgs/html-5.png" alt="html" class="logo">
                    <img src="../static/imgs/css.png" alt="css" class="logo">
                    <img src="../static/imgs/java.png" alt="java" class="logo">
                    <img src="../static/imgs/typo.png" alt="java" class="logo">
                </div>
            </div>

        </div>
        <!--            tech end-->

        <!--            Personal start -->
        <div id="scroll3" class="exp-box">
            <h1 class="color-text" style="text-align: center; font-size: 40px;">Tech-Stack</h1>
            <h1>Sprache</h1>
            <div class="language">
                <p>Deutsch</p>
                <div class="bar-container">
                    <div class="bar" data-percent="85%"></div>
                </div>
            </div>
            <div class="language">
                <p>Englisch</p>
                <div class="bar-container">
                    <div class="bar" data-percent="70%"></div>
                </div>
            </div>
            <div class="language">
                <p>Tamil</p>
                <div class="bar-container">
                    <div class="bar" data-percent="60%"></div>
                </div>
            </div>

                <div style="margin-bottom: 50px; margin-top: 100px;">
                    <h1>Hobbys</h1>
                    <p>Lesen</p>
                    <p>Serien schauen</p>
                    <p>Videogames spielen  </p>
                    <p>Häckeln</p>
                </div>
        </div>

        <!--personal end-->
        <script src="../static/js/script.js"></script>
    </main>
    <footer></footer>
</body>
</html>