<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Jennifer Bramadas</title>
</head>
<body>
<nav>
    <a href="experience.html">
        <img src="../static/imgs/exp-white.png" alt="exp-white" width="40" height="40">
    </a>
    <a href="techStack.html" style="margin-left: 50px">
        <img src="../static/imgs/laptop-white.png" alt="laptop-white" width="40" height="40">
    </a>
</nav>


<aside class="item1 sticky">
    <h1 style="margin-left: 60px">Jennifer Bramadas</h1>
    <div>
        <a href="https://www.linkedin.com/in/jennifer-b-0a6566157/" style="margin-left: 50px">
            <img src="../static/imgs/linkedin.png" alt="Linkedin" width="40" height="40">
        </a>
        <a href="https://github.com/JennyWary" style="margin-left: 50px">
            <img src="../static/imgs/github.png" alt="GitHub" width="40" height="40">
        </a>
    </div>
    <div class="info-box">
        <div class="grid-info">
            <div class="item1 icon-back">
                <img  style="margin-bottom: 30px;" src="../static/imgs/mobile-white.png" alt="mobile-white" width="25" height="25">
            </div>
            <div style="font-size: 10px; padding-left: 10px" >Handynummer</div>
            <div style="padding-left: 10px; padding-top: 10px">+4917630196670</div>
        </div>

        <div class="grid-info">
            <div class="item1 icon-back">

                <img  style="margin-bottom: 30px; margin-left: 2px" src="../static/imgs/umschlag-white.png" alt="mobile-white" width="20" height="20">
            </div>
            <div style="font-size: 10px; padding-left: 10px" >Email</div>
            <div style="padding-left: 10px; padding-top: 10px">j.bramadas@outlook.de</div>
        </div>

        <div class="grid-info">
            <div class="item1 icon-back">
                <img  style="margin-bottom: 30px; margin-left: 2px" src="../static/imgs/marker-white.png" alt="mobile-white" width="20" height="20">
            </div>
            <div style="font-size: 10px; padding-left: 10px" >Ort</div>
            <div style="padding-left: 10px; padding-top: 10px">Leonberg 71229</div>
        </div>


    </div>

</aside>
<main>
    <!--Experince start-->
    <div data-scroll-index='1' class="white">
        <h1 class="purple">Berufserfahrung________________________</h1>

        <div class="flex">
            <p>2021 – heute</p>
            <p class="second">
                <b>B-Factor GmbH</b><br>
                Ausbildung als Fachinformatikerin Anwendungsentwicklung
            </p>
        </div>
        <h1 class="purple">Schuldbildung__________________________</h1>
        <div class="flex">
            <p>2021 – heute</p>
            <p class="second">
                <b> It.Schule Stuttgart</b><br>
                Ausbildung als Fachinformatikerin Anwendungsentwicklung
            </p>
        </div>
        <div class="flex">
            <p>2019 – 2021</p>
            <p class="second">
                <b> Hochschule für Technik Stuttgart</b><br>
                Studienrichtung Informatik
            </p>
        </div>
        <div class="flex">
            <p>2016 - 2018</p>
            <p class="second">
                <b> Kaufmännisches Schulzentrum Böblingen</b><br>
                Berufskolleg 1 & 2 Wirtschaftsinformatik (Fachabitur)
            </p>
        </div>
        <div class="flex">
            <p>2013 - 2015</p>
            <p class="second">
                <b> Berufsschulzentrum Leonberg</b><br>
                Berufliches Gymnasium
            </p>
        </div>
    </div>
    <!--Experince end-->

</main>
<footer></footer>
</body>
</html>